:root{
  --primary_color: #8247e5;
  --purple_light: #eee7fa; 
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: var(--primary_color);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
