* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  /* background: url("../assets/bg-img.png"); */
  background-size: 100vw 100vh;
  /* background-color: var(--background); */
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color:var(--accent-2);
  /* background-color: var(--primary-color); */
  /* background-color: var(--accent-1); */
  background-color: var(--background);
  box-shadow: 0 0 3px var(--accent-1);
  /* text-shadow: 1px 1px 3px var(--secondary-color); */
}

#nav-title {
  text-transform: uppercase;
  font-weight: bolder;
  background-color: var(--accent-1);
  margin: 0;
  padding: 0 2.5rem;
  display: flex;
}

#nav-title > h2 {
  margin: auto;
  color: white;
}

#nav-options{
  display: flex;
  padding-right: calc(2.5rem - 1.2rem);
}

#nav-options a {
  padding: 1.5rem 1.2rem;
}

#nav-options a:hover{
  text-decoration: underline var(--accent-1);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

section {
  display: flex;
  min-height: 100vh;
}
.upload_img_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 3rem;
}

.upload_img {
  width: 150px;
  height: auto;
}

.upload_img_cont h3{
  padding-top: 1rem;
  font-size: 1.3rem;
  color: #383838;
  font-weight: 100;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#file_selector {
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background);
}

p {
  font-size: 1rem;
  color: #373737;
}

#submit {
  border: none;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--accent-1);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
#submit:hover {
  background-color: var(--accent-2);
}


/* ******** files section ********* */
#files {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


table, th, td {
  border: 2px solid #9262e4;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  padding: 0.5rem 1rem;
}

th {
  color: var(--primary-color);
  background-color: #9262e4;
  text-align: center;
}

td {
  text-align: left;
}

.download_img {
  height: 1rem;
  width: auto;
  cursor: pointer;
}

.trash_img {
  height: 1rem;
  width: auto;
  cursor: pointer;
}