* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  /* background: url("../assets/bg-img.png"); */
  background-size: 100vw 100vh;
  /* background-color: var(--background); */
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color:var(--accent-2);
  /* background-color: var(--primary-color); */
  /* background-color: var(--accent-1); */
  /* background-color: var(--background); */
  background-color: rgba(255, 255, 255, 0.911);
  box-shadow: 0 0 3px var(--accent-1);
  z-index: 1;
  /* text-shadow: 1px 1px 3px var(--secondary-color); */
}

#nav-title {
  text-transform: uppercase;
  font-weight: bolder;
  background-color: var(--accent-1);
  margin: 0;
  padding: 0 2.5rem;
  display: flex;
}

#nav-title > h2 {
  margin: auto;
  color: white;
}

#nav-options{
  display: flex;
  padding-right: calc(2.5rem - 1.2rem);
}

#nav-options a {
  padding: 1.5rem 1.2rem;
  color: var(--accent-2);
  cursor: pointer;
}

#nav-options a:hover{
  text-decoration: underline var(--accent-1);
}

#sign-out-btn{
  display:none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

section {
  display: flex;
  min-height: 100vh;
}

#home {
  /* background-image: url("../assets/5166950.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home h1 {
  font-size: 3.5rem;
  color: #e6f5ff;
  margin: auto 200px;
  text-align: center;
}

#home video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -999;
}

#web3 {
  width: 100%;
  height: 100vh;
  /* background-image: url("../assets/5166950.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  background-image: linear-gradient(to right, #d2ebff, #e1efff, #eef3ff, #f8f9ff, #ffffff);
}

#upload {
  background-image: url("../assets/19366.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
}

.upload_img_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 3rem;
}

.upload_img {
  width: 150px;
  height: auto;
}

.upload_img_cont h3{
  padding-top: 1rem;
  font-size: 1.3rem;
  color: #383838;
  font-weight: 100;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#file_selector {
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background);
}

p {
  font-size: 1rem;
  color: #373737;
}

#submit {
  border: none;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--accent-1);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
#submit:hover {
  background-color: var(--accent-2);
}


/* ******** files section ********* */
#files {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


table, th, td {
  border: 2px solid var(--accent-1);
  border-collapse: collapse;
  background-color: white;
}

th, td {
  padding: 0.5rem 1rem;
}

th {
  color: var(--primary-color);
  background-color: var(--svg);
  text-align: center;
}

td {
  text-align: left;
}

td > a:hover {
  color: var(--accent-1);
  text-decoration: underline;
}

/* .file_cid {
  width: 100px;
}

.file_cid>a {
  text-overflow: ellipsis;
} */

.storage_providers a {
  margin: 0 0.2rem;
  color: rgb(97, 124, 167);
}

td .download_img {
  height: 1rem;
  width: auto;
  cursor: pointer;
}

td .trash_img {
  height: 1rem;
  width: auto;
  cursor: pointer;
}


/* text animation */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.jt {
  position: relative;
  font-size: 20vmin;
  /* font-family: 'Staatliches', sans-serif; */
  /* text-transform: uppercase; */
  font-display: swap;
  text-shadow: 0 0 10px rgb(105, 71, 255);
}

.jt__row {
  display: block;
}
.jt__row:nth-child(1) {
  clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
}
.jt__row:nth-child(2) {
  clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
}
.jt__row:nth-child(3) {
  clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
}
.jt__row:nth-child(4) {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
}

.jt__row.jt__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  /* width:800px; */
}

.jt__text {
  display: block;
  transform-origin: bottom left;
  animation: moveIn 2s 0s cubic-bezier(.36,0,.06,1) alternate infinite ;
}
.jt__row:nth-child(1) .jt__text {
  transform: translateY(-0.1em);
}
.jt__row:nth-child(2) .jt__text {
  transform: translateY(-0.3em) scaleY(1.1);
}
.jt__row:nth-child(3) .jt__text {
  transform: translateY(-0.5em) scaleY(1.2) ;
}
.jt__row:nth-child(4) .jt__text {
  transform: translateY(-0.7em) scaleY(1.3) ;
}
.jt__row:nth-child(5) .jt__text {
  transform: translateY(-0.9em) scaleY(1.4) ;
}
.jt__row:nth-child(6) .jt__text {
  transform: translateY(-1.1em) scaleY(1.5) ;
}

@keyframes moveIn {
  50%, 100% { 
    transform: translateY(0em)
  }
  0%   { 
  opacity: 0; 
  filter: blur(10px);
  
  }
  100% { 
  opacity: 1; 
  filter: blur(0px);
  }
}



.debug .jt__row:nth-child(even) {
  color: black;
  background: white;
}
.debug .jt__row:nth-child(odd) {
  color: white;
  background: black;
}