@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

:root {
    --primary-color: #fff; 
    --secondary-color:#111;
    --accent-1: #8247e5;
    --accent-2: #7533e2;
    --shadow-color: #e8e8e8; 
    --primary-font:'Londrina Solid', cursive;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background: var(--accent-1);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-2);
}