/* @import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Ubuntu&display=swap');

:root {
    --primary-color: #fff; 
    --secondary-color:#111;
    /* --accent-1: #8247e5; */
    /* --accent-2: #7533e2;  */
    /* --background: #EEE7FA; */
    --shadow-color: #e8e8e8; 
    /* --primary-font:'Londrina Solid', cursive; */
    --primary-font: 'Rubik', sans-serif;
    --accent-1: #1e74e4;
    --accent-2: #215dcc;
    --background: #e2ecff;
    --svg: #3984e6;
    --svg-green: rgb(0, 128, 111);
}

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background: var(--accent-1);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-2);
}